<% layout("/layouts/boilerplate.ejs") %>
<div class="error mt-5">
<div class="row ">
    <div class="alert alert-danger d-flex align-items-center " role="alert">
      
        <div>
          <%=message%>
        </div>
      </div>
</div>

</div>